<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="MySqlConnection"
             connectionString="Server=tcp:fast-foodly.database.windows.net,1433;Initial Catalog=cardapio;Persist Security Info=False;User ID=sathyagimenes;Password=msft-INF0999;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"
             providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>